@import url('https://font.googleleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.navbar {
    background-color: #74B49B;
    position: relative;
    z-index: 2;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.btn-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.btn-link:hover {
    background-color: white;
    color: #74B49B;
}
.btn-primary { /*login*/
    background-color: #74B49B;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn-primary:hover {
    background-color: white;
    color: #74B49B;
}

.popup {
    display: none;
    position: absolute;
    top: 650%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    width: 550px;
    padding: 20px 50px;
    padding-top: 30px;
    background: white;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 9999;
}
.popup .active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup-signin{
    top: 50%;
    left: 50%;
}

.popup .close-btn { /*tombol close*/
    position: fixed;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #4a977a;
    color: #F4F9F4;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.popup .form {
    padding-left: 60px;
}
.popup .form h2 {
    float: left;
    text-align: center;
    color: #062925;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

.popup .form p {
    font-size: 12px;
}

.popup .form .form-element {
    margin: 15px 0px;
}
.popup .form .form-element label {
    color: #062925;
    font-size: 14px;
}

.masuk-popup button {
    margin: 15px 0px;
    font-size: 14px;
    font-weight: bold;
    background-color: #F4F9F4;
    color: #4a977a;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.masuk-popup button:hover {
    background-color: #4a977a;
    color: #F4F9F4;
}

.showpassword {
    float: left;
    padding: 17px;
    margin-left: -15px;
    color: #062925;
}

.content-masuk {
    float: center;
    padding: 20px 35px;
    margin-top: -25px;
}
.content-masuk .content-text {
    font-weight: 300;
}
.content-masuk .masuk-butt {
    text-decoration: none;
    color: #062925;
    font-weight: bold;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border:  1px solid #4a977a;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #E0E0E0;
    color: #4a977a;
    border-radius: 10px;
    cursor: pointer;
}
.popup .form .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}

.menu-item {
    position: relative;
}
.menu-item ul{
    list-style: none;
    margin-top: 12px;
}
  
.dropdown-menu {
    display: none;
    background-color: #74B49B;
    position: absolute;
    border: none;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    top: 80%;
    left: -70%;
    width: 220px;
    z-index: 1;
}
.dropdown-menu li{
    padding: 8px 8px;
}
.dropdown-menu img {
    margin-right: 10px;
}
.dropdown-menu a {
    text-decoration: none;
    color: #F4F9F4;
}
.dropdown-menu li:hover{
    background-color: #4a977a;
}
.menu-item:hover .dropdown-menu {
    display: block;
} 


.home {
    background-color: #F4F9F4;
}

.home-img {
    position: relative;
    width: 100%;
    height: 100%;
    size: cover;
}

.text-container {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 40%;
    color: white;
    padding: 10px;
    padding-left: 100px;
}

.text-container h4 {
    font-size: 50px;
    font-weight: bold;
}

.base {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.item {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    padding: 10px;
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-container img {
    max-width: 85%;
    height: auto;
    padding-left: 100px;
}

.text-box-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 70px;
}

.text-box-container p {
    margin-top: 19px;
    font-weight: bold;
    color: #74B49B;
}

.input-label {
    text-align: center;
    justify-content: center;
    padding: 5px;
    font-weight: 600;
    color: #74B49B;
}

.text-box input {
    border: none;
    border-bottom: 2px solid #74B49B;
    padding: 5px;
    outline: none;
    width: 100%;
}

.choices {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.choices label {
    margin: 0 20px;
    color: #74B49B;
}

.confirm {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.confirm-butt {
    width: 272px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 4px;
    background: #74B49B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-weight: bold;
    color: white;
    flex-grow: 1;
    margin-right: 10px;
}

.content-text {
    font-family: 'Poppins', sans-serif;
    color: #74B49B;
    font-weight: bold;
    padding: 10px;
    padding-left: 50px;
    padding-top: 20px;
}

.rating{
    position: relative;
    display: flex;
    margin: 10px 0;
    padding-top: 10px;
}

.rating input {
    position: relative;
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    appearance: none;
    overflow: hidden;
}

.rating input::before {
    content: '\f005';
    position: absolute;
    font-family: fontAwesome;
    font-size: 34px;
    position: absolute;
    left: 4px;
    color: #E0E0E0;
    transition: 0.5s;
}

.rating input:nth-child(2n)::before {
    right: 4px;
    left: initial;
}

.rating input:hover ~ input::before,
.rating input:hover::before,
.rating input:checked ~ input::before,
.rating input:checked::before
{
    color: #74B49B;
}

.slider-content{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    color: #74B49B;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.slide:hover {
    background-color: #4a977a;
    color: #F4F9F4;
}

.slider {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr); /* Mengatur 3 kolom grid */
    padding: 10px;
}
  
.slide {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: #F4F9F4;
    padding: 10px;
    color: #74B49B;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  
.slide img {
    width: 375px;
    height: 266px;
}

.judul-makanan {
    margin-top: 10px;
    font-weight: bold;
}

/* Perubahan tampilan pada lebar layar <= 768px */
@media (max-width: 768px) {
    /* Aturan CSS khusus untuk tampilan pada layar kecil */
}
  
/* Perubahan tampilan pada lebar layar <= 992px */
@media (max-width: 992px) {
    /* Aturan CSS khusus untuk tampilan pada layar menengah */
}
  
/* Perubahan tampilan pada lebar layar > 992px */
@media (min-width: 992px) {
    /* Aturan CSS khusus untuk tampilan pada layar besar */
}
  