@import url('https://font.googleleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.navbar {
    background-color: #74B49B;
    position: relative;
    z-index: 2;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.menu-item {
    position: relative;
}
.menu-item ul{
    list-style: none;
    margin-top: 12px;
}
  
.dropdown-menu {
    display: none;
    background-color: #74B49B;
    position: absolute;
    border: none;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    top: 80%;
    left: -70%;
    width: 220px;
    z-index: 1;
}
.dropdown-menu li{
    padding: 8px 8px;
}
.dropdown-menu img {
    margin-right: 10px;
}
.dropdown-menu a {
    text-decoration: none;
    color: #F4F9F4;
}
.dropdown-menu li:hover{
    background-color: #4a977a;
}
.menu-item:hover .dropdown-menu {
    display: block;
} 

.home {
    background-color: #F4F9F4;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
}

.home .text-tittle {
    font-family: 'Inter', sans-serif;
    padding-bottom: 20px;
    font-size: 32px;
    color: #5C8D89;
    font-weight: 600;
    height: 51px;
    padding-bottom: 20px;
}

.home .limit-pay {
    padding-top: 30px;
}

.confirm-price {
    width: 400px;
    height: 40px;
    padding-left: 16px;
    border: none;
    background-color: #C0DDD0;
    box-shadow: 0px 0px 4px 1px rgba(116, 180, 155, 0.4);
}

.confirm-day {
    width: 130px;
    height: 40px;
    text-align: center;
    border: none;
    background-color: #dddd;
    box-shadow: 0px 0px 4px 1px rgba(116, 180, 155, 0.4);
}

.back-butt {
    padding-top: 40px;
}
.back-button {
    width: 272px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: #74B49B;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: white;
}
.back-button:hover {
    color: #C0DDD0;
    background-color: #4a977a;

}

.limit-price {
    width: 545px;
    height: 40px;
    padding-left: 16px;
    border: none;
    background-color: #C0DDD0;
    box-shadow: 0px 0px 4px 1px rgba(116, 180, 155, 0.4);
}

.text-mid {
    padding: 30px 40px 30px 40px;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #5C8D89;
}

.rating{
    position: relative;
    display: flex;
    margin: 10px 0;
    padding-top: 10px;
}

.rating input {
    position: relative;
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    appearance: none;
    overflow: hidden;
}

.rating input::before {
    content: '\f005';
    position: absolute;
    font-family: fontAwesome;
    font-size: 34px;
    position: absolute;
    left: 4px;
    color: #E0E0E0;
    transition: 0.5s;
}

.rating input:nth-child(2n)::before {
    right: 4px;
    left: initial;
}

.rating input:hover ~ input::before,
.rating input:hover::before,
.rating input:checked ~ input::before,
.rating input:checked::before
{
    color: #74B49B;
}

.slider-content{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    color: #74B49B;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.slide:hover {
    background-color: #4a977a;
    color: #F4F9F4;
}

.slider {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr); /* Mengatur 3 kolom grid */
    padding: 10px;
}
  
.slide {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: #F4F9F4;
    padding: 10px;
    color: #74B49B;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  
.slide img {
    width: 375px;
    height: 266px;
}

.judul-makanan {
    margin-top: 10px;
    font-weight: bold;
}
